html, body {
	height: 100%;
}

#main {
	position: relative;
	width: 100%;
	height: 100%;
}
#inHandR {
	position: absolute;
	width: 20%;
	top: 0;
	left: 0;
	bottom: 20%;

	background: #aab;
	overflow-y: auto;
}
#board {
	position: absolute;
	width: 60%;
	top: 0;
	left: 20%;
	bottom: 0%;

	background: #aaa;
}
#inHandMy {
	position: absolute;
	width: 20%;
	top: 20%;
	left: 80%;
	bottom: 0%;

	background: #aba;
	overflow-y: auto;
}
.cell {
	position: absolute;
}
#board>.cell {
	position: absolute;
	width: 11%;
	height: 11%;
	border: 1px solid #aaa;
	background: #bbb;
}
#inHandMy>.cell,#inHandR>.cell {
	position: absolute;
	width: 33%;
	height: 14%;
	background: #ddd;
}
#board>.cell.selected,#inHandMy>.cell.selected,#inHandR>.cell.selected {
	background: #faa;
}
#board>.cell.selected:hover,#inHandMy>.cell.selected:hover,#inHandR>.cell.selected:hover {
	background: #fdd;
}
#board>.cell:hover,#inHandMy>.cell:hover,#inHandR>.cell:hover {
	background: #eee;
}
