[Unit]
Description=QuantumShogiD

[Service]
Type=simple
ExecStart=/var/service/qss/qss_start.sh
ExecStop=/bin/kill -HUP $MAINPID
#StandardOutput=file:/var/log/qss/qss.log
#StandardError=file:/var/log/qss/qss.err
